.country-container {
  margin-top: 32px;
}

.back-button {
  font-size: 16px;
  font-weight: 600;
  padding: 4px 16px;
  box-shadow: 0 0 6px var(--shadow-color);
  border-radius: 4px;

  span,
  svg {
    margin-right: 4px;
  }

  svg {
    width: 24px;
    max-width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

.content {
  margin-inline: auto;
  margin-top: 64px;
  text-align: center;

  img {
    vertical-align: top;
    object-fit: cover;
    width: 450px;
    height: 300px;
    display: inline-block;
  }

  @media screen and (max-width: 376px) {
    img {
      width: 240px;
      height: 160px;
      margin-inline: auto;
    }
  }
}

.details {
  text-align: left;
  max-width: 600px;
  margin-left: 48px;
  display: inline-block;

  h3 {
    margin-bottom: 32px;
  }

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 8px;
    column-gap: 64px;

    li > span:first-of-type {
      font-size: 16px;
      font-weight: 600;
      margin-right: 4px;
    }
  }

  .borders {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 16px;

    span {
      font-size: 16px;
      font-weight: 600;
      margin-right: 8px;
    }

    a {
      padding: 4px 8px;
      box-shadow: 0 0 4px var(--shadow-color);
      margin-right: 16px;
    }
  }
}

.no-country {
  margin-block: 64px;
  font-size: 16px;
  font-weight: 18px;
  text-align: center;

  > a {
    margin-right: 16px;
  }
}
