.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 8px;
  box-shadow: 0 8px #aaaaaa20;

  h1 {
    font-weight: 800;
    font-size: 18px;
  }

  div {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding-block: 4px;

    svg {
      margin-right: 4px;
      wdith: 32px;
      height: 32px;
      max-width: 32px;
      vertical-align: middle;
    }
  }
}
