@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.light-theme {
    --text-color: #000000;
    --shadow-color: #858585;
    --primary-background-color: #fafafa;
    --secondary-background-color: #ffffff;
  }

  &.dark-theme {
    --text-color: #ffffff;
    --shadow-color: #111517;
    --primary-background-color: #202c37;
    --secondary-background-color: #2b3945;
  }

  color: var(--text-color);
  background-color: var(--primary-background-color);
}

svg {
  stroke: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-inline: 0.5rem;
  max-width: 1440px;
  padding-top: 48px;
  margin-inline: auto;
}