.country-card {
  width: 240px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 0 6px var(--shadow-color);
  padding-bottom: 16px;

  img {
    object-fit: cover;
    width: 240px;
    height: 160px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  h3 {
    font-weight: 800;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    padding: 4px;
    margin-inline: 12px;
    display: inline-block;
  }

  h4 {
    margin-inline: 16px;
    font-weight: 600;
    font-size: 14px;
    margin-block: 4px;
    
    span:first-of-type {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}
